{{!--
Citation for the following code:
// Date: 3/2/2023
// Copied and adapted from OSU GitHub (osu-cs340-ecampus) project (nodejs-starter-app)
// Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app
--}}

<h1> Chapter Philanthropies </h1>

{{!-- Create a table --}}
<table>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the chapter philanthropy id, philanthropy role, event id, and chapter id in order --}}
        {{#each data}}
        <tr>
            <td>{{this.chapter_philanthropy_id}}</td>
            <td>{{this.philanthropy_role}}</td>
            <td>{{this.event_id}}</td>
            <td>{{this.chapter_id}}</td>
        </tr>
        {{/each}}
    </tbody>

</table>

{{!-- Form to add a record to the table using AJAX --}}

<h2>Adding a New Chapter Philanthropy with AJAX</h2>
<p>To add a new chapter philanthropy, please enter their information below and click 'Submit'!</p>

<form id="add-chapter-philanthropy-form-ajax">

    <label for="input-philanthropy-role">Philanthropy Role: </label>
    <input type="text" name="input-philanthropy-role" id="input-philanthropy-role">

    <label for="input-event-id">Event ID: </label>
    <input type="number" name="input-event-id" id="input-event-id">

    <label for="input-chapter-id">Chapter ID: </label>
    <input type="number" name="input-chapter-id" id="input-chapter-id">

    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_chapterphilo.js"></script>


{{!-- Not implemented yet --}}
<script src="./js/delete_chapterphilo.js"></script>
<script src="./js/update_chapterphilo.js"></script>
