<ul>    
    <li><a href="/">Home</a></li>
    <li><a href="/councils">Councils</a></li>
    <li><a href="/chapters">Chapters</a></li>
    <li><a href="/members">Members</a></li>
    <li><a href="/positions">Positions</a></li>
    <li><a href="/events">Philanthropy Events</a></li>
    <li><a href="/chapterphilo">Chapter Philanthropies</a></li>
</ul>

<div class="margins">
    <h2> Chapters </h2>

    {{!-- Create a table --}}
    <table class="table table-bordered table-striped table-hover">

        {{!-- Header section --}}
        <thead>

            {{!-- For just the first row, we print each key of the row object as a header cell so we
            know what each column means when the page renders --}}
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>
        </thead>

        {{!-- Body section --}}
        <tbody>

            {{!-- For each row, print the chapter id, chapter name, nickname, colors, philanthropy, housed, address, council_id in order --}}
            {{#each data}}
            <tr>
                <td>{{this.chapter_id}}</td>
                <td>{{this.chapter_name}}</td>
                <td>{{this.nickname}}</td>
                <td>{{this.colors}}</td>
                <td>{{this.philanthropy}}</td>
                <td>{{this.housed}}</td>
                <td>{{this.address}}</td>
                <td>{{this.Council}}</td>
            </tr>
            {{/each}}
        </tbody>

    </table>

    <div class="form_margins">

        {{!-- Form to add a new chapter --}}
        <h3> Adding New Chapter </h3>
        <p>To add a new chapter, please enter their information below and click 'Submit'!</p>

        <form id="add-chapter-form-ajax">

            <label for="input-chapter-name"> Chapter Name: </label>
            <input type="text" name="input-chapter-name" id="input-chapter-name">

            <label for="input-nickname"> Nickname: </label>
            <input type="text" name="input-nickname" id="input-nickname">

            <label for="input-colors"> Colors: </label>
            <input type="text" name="input-colors" id="input-colors">

            <label for="input-philanthropy"> Philanthropy: </label>
            <input type="text" name="input-philanthropy" id="input-philanthropy">

            <label for="input-housed"> Housed (1-Yes, 0-No): </label>
            <input type="number" name="input-housed" id="input-housed">

            <label for="input-address"> Address: </label>
            <input type="text" name="input-address" id="input-address">

            <select name="input-council-id" id="input-council-ajax">
                <option value=""> Select A Council</option>
                {{#each council}}
                <option value="{{this.council_id}}">{{this.council_name}}</option>
                {{/each}}
            </select>

            <input class="orange_button" type="submit">
        </form>
    </div>
</div>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_chapter.js"></script>