{{!--
Citation for the following code:
Date: 3/2/2023
Copied and adapted from OSU GitHub (osu-cs340-ecampus) project (nodejs-starter-app), specifically steps 5-8.
The code was adapted to implement handlebars for the chapter philanthropies page and more specifically the add, update, and delete functions 
that were adapted to match the entities and attributes of the table along with implementing dropdpown menus for functionality.
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app

Used information from the bootstrap website to make the tables look better instead of having the default tables
Source URL: https://getbootstrap.com/docs/4.0/content/tables/
--}}

<ul>    
    <li><a href="/">Home</a></li>
    <li><a href="/councils">Councils</a></li>
    <li><a href="/chapters">Chapters</a></li>
    <li><a href="/members">Members</a></li>
    <li><a href="/positions">Positions</a></li>
    <li><a href="/events">Philanthropy Events</a></li>
    <li><a href="/chapterphilo">Chapter Philanthropies</a></li>
</ul>

<div class="margins">

    <h2> Chapter Philanthropies </h2>

    {{!-- Create a table --}}
    <table class="table table-bordered table-striped table-hover" id="chapter-philanthropies-table">

        {{!-- Header section --}}
        <thead>

            {{!-- For just the first row, we print each key of the row object as a header cell so we
            know what each column means when the page renders --}}
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
                <th>delete</th>
            </tr>
        </thead>

        {{!-- Body section --}}
        <tbody>

            {{!-- For each row, print the chapter philanthropy id, philanthropy role, event id, and chapter id in order --}}
            {{#each data}}
            <tr data-value={{this.chapter_philanthropy_id}}>
                <td>{{this.chapter_philanthropy_id}}</td>
                <td>{{this.philanthropy_role}}</td>
                <td>{{this.Event}}</td>
                <td>{{this.Chapter}}</td>
                <td><button type="button" class="orange_button" onclick="deleteChapterPhilanthropies('{{this.chapter_philanthropy_id}}')">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <div class="form_margins">
        {{!-- Form to add a record to the table using AJAX --}}

        <h3>Adding a New Chapter Philanthropy</h3>
        <p>To add a new chapter philanthropy, please enter their information below and click 'Submit'!</p>

        <form id="add-chapter-philanthropy-form-ajax">

            <label for="input-philanthropy-role">Philanthropy Role: </label>
            <input type="text" name="input-philanthropy-role" id="input-philanthropy-role">

            {{! Dropdown for Event Selection}}
            <label for="input-Event">Philanthropy Event: </label>
            <select name="input-Event" id="input-event-ajax">
                <option value="">Select an Event</option>
                {{#each events}}
                <option value="{{this.event_id}}">{{this.event_name}}</option>
                {{/each}}
            </select>

            {{! Dropdown for Chapter Selection}}

            <label for="input-Chapter">Chapter: </label>
            <select name="input-Chapter" id="input-chapter-ajax">
                <option value="">Select a Chapter</option>
                {{#each chapters}}
                <option value="{{this.chapter_id}}">{{this.chapter_name}}</option>
                {{/each}}
            </select>
            <input class="orange_button" type="submit">
        </form>
    </div>

    <div class="form_margins">
         {{!-- Form to update a record to the table using AJAX --}}

        <h3>Updating A Chapter Philanthropy</h3>
        <p>To update a specific chapter's involvement select their chapter philanthropy id from the drop-down menu on the left and the chapter from the drop-down menu on the right</p>
        <form id="update-chapter-philanthropy-form-ajax">

            <label for="input-chapter-philanthropy-id">Chapter Philanthropy ID: </label>
            <select name="input-chapter-philanthropy-id" id="mySelect">
                <option value="">Select Chapter Philanthropy</option>
                {{#each data}}
                <option value="{{this.chapter_philanthropy_id}}">{{this.chapter_philanthropy_id}} </option>
                {{/each}}
            </select>

            <label for="update-philanthropy-role">Philanthropy Role: </label>
            <input type="text" name="update-philanthropy-role" id="update-philanthropy-role">

        <label for="input-event-id">Event: </label>
            <select name="input-event-id" id="input-event-id-update">
                <option>Select an Event</option>
                {{#each events}}
                <option value="{{this.event_id}}">{{this.event_name}} </option>
                {{/each}}
            </select>

            <label for="input-chapter-id">Chapter: </label>
            <select name="input-chapter-id" id="input-chapter-id-update">
                <option>Select a Chapter</option>
                {{#each chapters}}
                <option value="{{this.chapter_id}}">{{this.chapter_name}} </option>
                {{/each}}
            </select>
            <input class="orange_button" type="submit">

        </form>
    </div>
</div>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_chapterphilo.js"></script>
<script src="./js/delete_chapterphilo.js"></script>
<script src="./js/update_chapterphilo.js"></script>
