{{!--
Citation for the following code:
Date: 3/2/2023
Copied and adapted from OSU GitHub (osu-cs340-ecampus) project (nodejs-starter-app), specifically steps 5-7.
The code was adapted to implement handlebars for the events page and more specifically the add and delete function.
It was adapted to match the entities and attributes of the table along with implementing dropdpown menus for functionality.
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app

Used information from the bootstrap website to make the tables look better instead of having the default tables
Source URL: https://getbootstrap.com/docs/4.0/content/tables/
--}}
<ul>    
    <li><a href="/">Home</a></li>
    <li><a href="/councils">Councils</a></li>
    <li><a href="/chapters">Chapters</a></li>
    <li><a href="/members">Members</a></li>
    <li><a href="/positions">Positions</a></li>
    <li><a href="/events">Philanthropy Events</a></li>
    <li><a href="/chapterphilo">Chapter Philanthropies</a></li>
</ul>

<div class="margins">
    <h2> Philanthropy Events </h2>

    {{!-- Create a table --}}
    <table class="table table-bordered table-striped table-hover" id="events-table">
    {{!-- Header section --}}
        <thead>

            {{!-- For just the first row, we print each key of the row object as a header cell so we
            know what each column means when the page renders --}}
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
                <th>delete</th>
            </tr>
        </thead>

        {{!-- Body section --}}
        <tbody>

            {{!-- For each row, print the event id, event name, event type, event entry and event status in order --}}
            {{#each data}}
            <tr data-value={{this.event_id}}>
                <td>{{this.event_id}}</td>
                <td>{{this.event_name}}</td>
                <td>{{this.event_type}}</td>
                <td>{{this.event_entry}}</td>
                <td>{{this.event_status}}</td>
                <td><button type="button" class="orange_button" onclick="deleteEvents('{{this.event_id}}')">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <div class="form_margins">
        {{!-- Form to add a record to the table using AJAX --}}
        <h3>Adding a New Philanthropy Event</h3>
        <p>To add a new philanthropy event, please enter their information below and click 'Submit'!</p>

        <form id="add-event-form-ajax">

            <label for="input-event-name">Event Name: </label>
            <input type="text" name="input-event-name" id="input-event-name">

            <label for="input-event-type">Event Type: </label>
            <input type="text" name="input-event-type" id="input-event-type">

            <label for="input-event-entry">Event Entry Fee: </label>
            <input type="number" name="input-event-entry" id="input-event-entry">

            <label for="input-event-status">Event Status: </label>
            <input type="text" name="input-event-status" id="input-event-status">

            <input class="orange_button" type="submit">
        </form>
    </div>
</div>

<script src="./js/add_event.js"></script>
<script src="./js/delete_event.js"></script>