{{!--
Citation for the following code:
Date: 3/2/2023
Copied and adapted from OSU GitHub (osu-cs340-ecampus) project (nodejs-starter-app), specifically steps 5 and 6.
The code was adapted to implement handlebars for the positions page and more specifically the add function.
It was adapted to match the entities and attributes of the table along with implementing dropdpown menus for functionality.
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app
--}}

<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/councils">Councils</a></li>
    <li><a href="/chapters">Chapters</a></li>
    <li><a href="/members">Members</a></li>
    <li><a href="/positions">Positions</a></li>
    <li><a href="/events">Philanthropy Events</a></li>
    <li><a href="/chapterphilo">Chapter Philanthropies</a></li>
</ul>

<div class="margins"> 
    <h2> Positions </h2>

    {{!-- Create a table --}}
    <table class="table table-bordered table-striped table-hover">

        {{!-- Header section --}}
        <thead>

            {{!-- For just the first row, we print each key of the row object as a header cell so we
            know what each column means when the page renders --}}
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>
        </thead>

        {{!-- Body section --}}
        <tbody>

            {{!-- For each row, print the position id, position name, position responsibility, and member id in order --}}
            {{#each data}}
            <tr>
                <td>{{this.position_id}}</td>
                <td>{{this.position_name}}</td>
                <td>{{this.position_responsibility}}</td>
                <td>{{this.member_id}}</td>
            </tr>
            {{/each}}
        </tbody>

    </table>

    <div class="form_margins">

        {{!-- Form to add a new position --}}
        <h3> Adding a New Position </h3>
        <p>To add a new position, please enter their information below and click 'Submit'!</p>

        <form id="add-position-form-ajax">

            <label for="input-position-name"> Position Name: </label>
            <input type="text" name="input-position-name" id="input-position-name">

            <label for="input-position-responsibility"> Position Responsibility: </label>
            <input type="text" name="input-position-responsibility" id="input-position-responsibility">

            <label for="input-member-id"> Member ID: </label>
            <input type="number" name="input-member-id" id="input-member-id">

            <input class="orange_button" type="submit">
        </form>
    </div>
</div> 

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_position.js"></script>